<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/weather.png">
</head>

<body>
    <div class="main-content">
            {{>header}}
        <h1>Hi im {{name}} welcome to my node site</h1>
        <img class="portrait" src="/img/kuva.jpg" alt="">

    </div>
    
    {{>footer}}
</body>

</html>