<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/weather.png">
</head>

<body>
    <div class="main-content">
        {{>header}}

        <h1>If you want help, here you get som</h1>
        <h3>help 1 : {{help1}}</h3>

    </div>
    
    {{>footer}}
</body>

</html>